---
layout: default
---

{% assign max_recent = 4 %}

<div class="row">
    <div class="col-sm-8">
            {{ content }}
    </div>
    <div class="col-sm-4">
        <div class="recent"> Recent Updates </div>
          <ul class="displayer">
              {% for post in site.posts %}
                  {% if forloop.index <= max_recent %}
                      <li>
                          <div class="showcase">
                              {% if post.subcategories contains 'refsheet' %}
                                  <a href="{{ post.outurl }}" target="_blank">
                              {% elsif post.subcategories contains 'cs50' %}
                                  <a href="{{ post.outurl }}" target="_blank">
                              {% else %}
                                  <a href="{{ post.url }}">
                              {% endif %}
                                      <img src="assets/images/{{ post.image }}" onerror="this.style.display='none'">

                                          <h3> {{ post.title }} </h3>
                                          <h5> Category: {{post.categories}} </h5>
                                  </a>
                          </div>
                      </li>
                  {% endif %}
              {% endfor %}
          </ul>
    </div>
</div>
