---
layout: default
---

{% assign max_recent = 4 %}

<div class="row">
    <div class="col-sm-8">
            {{ content }}
    </div>
    <div class="col-sm-4">
        <div class="recent"> Recent Updates </div>
          <ul class="displayer">
              {% for post in site.posts %}
                  {% if forloop.index <= max_recent %}
                      <li>
                          <div class="showcase">
                              <img src="assets/images/{{ post.image }}" onerror="this.style.display='none'">
                              <h3><a href=".{{ post.url }}"> {{ post.title }} </a></h3>
                              <h5> Category: {{post.categories}} </h5>
                          </div>
                      </li>
                  {% endif %}
              {% endfor %}
          </ul>
    </div>
</div>
